<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div id="currentFolderContent">
        <p id="currentFolder">Current Directory: </p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Type</th>
                    <th>Upload Date</th>
                </tr>
            </thead>
            <tbody id="folderContentContainer"></tbody>
        </table>
    </div>
    <div id="uploadFileIntoCurrentFolder">
        <form>
            <h3>Upload a file</h3>
            <input type="file" id="file">
        </form>
        <button id="uploadFile">Upload</button><br>
    </div>
    <div>
        <form id="folderCreation">
            <h3>Create folder</h3>
            <input type="title" id="folderName" placeholder="Enter Folder Name...">
        </form>
        <button id="createFolder">Create</button>
    </div>
    <script src="./app.js"></script>
</body>

</html>