<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<button id="loadFiles">LOAD ALL FILES</button>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Path</th>
        <th>Owner</th>
        <th>Type</th>
        <th>Upload Date</th>
    </tr>
    </thead>
    <tbody id="files-container"></tbody>
</table>

<script src="./app.js"></script>
<form>
    <h3>Upload a file</h3>
    <label>Name</label>
    <input type="file" id="file" placeholder="Select File...">
    <label>Path</label>
    <input type="title" id="path" placeholder="Path...">

    <button id="uploadFile">Upload</button>
</form>
</body>
</html>

