<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Cloud</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h3>Upload a File in MyCloud</h3>
                <p th:text="${messageCreateFile}" th:if="${messageCreateFile ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/createFile}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="content" class="form-control-file">
                    </div>
                    <div >
                        <input type="text" name="fullPath">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>
                <br><br><br>
                <h3>Upload a Folder in MyCloud</h3>
                <p th:text="${messageCreateFolder}" th:if="${messageCreateFolder ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/createFolder}">
                    <div >
                        <input type="text" name="fullPath">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload Folder</button>
                </form>
                <br><br><br>
                <h3>Download a File from MyCloud</h3>
                <p th:text="${messageDownload}" th:if="${messageDownload ne null}" class="alert alert-primary"></p>
                <form method="get" th:action="@{/download}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="number" name="id" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Download File</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>